*{
  box-sizing:border-box ;
}

body{
  margin: 0;
  background-color:#0B2434 ;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root{
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

main{
  background-color: white;
  height: 100%;
  border-radius:5px ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  /* center horizontally */
  align-items: center;      /* center vertically */

}

.grid-container button{
  margin: 8px;
  padding: 15px;
  border: 2px ;
  border-radius: 10px;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto); /* 5 columns */
  gap: 15px; /* space between items */
  justify-content: center; /* optional: align items to the left */
}

.roll{
  height: 50px;
  white-space: nowrap;
  width: auto;
  padding: 6px 21px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color:#5035FF ;
  font-size: 1.2rem;
  cursor: pointer;
}

.instructions{

  justify-content: center;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

.title{
  font-size:40px;
  margin: 0;
}
